<div class="flex flex-col">
    <img src="@Thumbnail.Url" height="@Thumbnail.Height" class="rounded-md aspect-video" />
    <div class="py-2 inline-flex items-center gap-2">
        <Avatar Placeholder="CH" />
        <h3 class="font-bold truncate">@Title</h3>
    </div>
</div>

@code {
    [Parameter]
    public Item<ChannelVideoId> Item { get; set; } = default!;

    public Default Thumbnail => Item.Snippet!.Thumbnails.High;
    public string Title => Item.Snippet!.Title;
}
